@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

.visible {
    display: 'initial';
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}

.navigation-container {
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

.primary-navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: .5em;
    padding-bottom: .4em;
    align-items: center;
    background-color: #fff;
    margin: auto;
}

.primary-navigation-links {
    display: flex;
    list-style: none;
    gap: 10px;
}

.logo {
    margin-top: 5px;
    width: 80%;
    max-width: 125px;
}

.primary-navigation-link {
    width: 12vw;
    height: 12vw;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

#nav-search {
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: .5em;
    border: none;
    padding: .5em;
    font-size: 1rem;
    color: #1e1e1e;
    font-weight: 800;
}

#nav-search::placeholder {
    font-size: 1rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.3)
}

.mobile-menu-container {
    height: auto;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    position: relative;
    background-color: white;
}

.primary-navigation-link-item {
    position: relative;
}
.nav-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.create {
    width: 50%;
}

.notifications {
    width: 40%;
}

.userIcon {
    width: 40%;
}

.messages {
    width: 50%;
}

.search {
    width: 20px;
    left: initial;
    right: 10px;
    z-index: 3; 
}

.search-btn {
    position: absolute;
    height: 40px;
    max-height: 40px;
    width: 60px;
    right: 8px;
    z-index: 2;
    border: none;
    background-color: #204EB7;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    outline: none;
}

.search-btn:hover {
    background-color: #1a45ab;
}

.primary-navigation-link:hover {
    background-color: rgb(232, 232, 232)
}

#nav-search:focus {
    outline: 0;
    border: none;
}

.secondary-navigation {
    width: 100%;
    height: 40px;
    background-color: green;
}

.menu-line {
    width: 52%;
    height: 9%;
    background-color: #1e1e1e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: 50% 50%;
    
}

.line-2 {
    transform-origin: center
}
.line-1 {
    top: 35%;
}

.line-4 {
    top: 65%
}

.ham-menu-start-move-right {
    animation: ham-menu-start-move-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.ham-menu-start-move-left {
    animation: ham-menu-start-move-left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.ham-menu-start-rotate-45-1 {
    animation: ham-menu-start-rotate-45-1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

.ham-menu-start-rotate-45-2 {
    animation: ham-menu-start-rotate-45-2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

.ham-menu-end-move-right {
    animation: ham-menu-end-move-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

.ham-menu-end-move-left {
    animation: ham-menu-end-move-left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.ham-menu-end-rotate-45-1 {
    animation: ham-menu-end-rotate-45-1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.ham-menu-end-rotate-45-2 {
    animation: ham-menu-end-rotate-45-2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes ham-menu-end-move-left {
    0% {
        left: 200%
    }

    100% {
        left: 50%
    }
}

@keyframes ham-menu-end-move-right {
    0% {
        left: -200%
    }

    100% {
        left: 50%
    }
}

@keyframes ham-menu-start-rotate-45-2{
    0% {
        transform: rotate(0deg);
        left: 25%;
        top: 46%;
        
    }

    100% {
        transform: rotate(-45deg);
        left: 25%;
        top: 46%;
    }
}

@keyframes ham-menu-end-rotate-45-1{
    0% {
        transform: rotate(45deg);
        left: 24%;
        top: 45.5%;
    }

    100% {
        transform: rotate(0deg);
        left: 24%;
        top: 45.5%;
    }
}

@keyframes ham-menu-end-rotate-45-2{
    0% {
        transform: rotate(-45deg);
        left: 24%;
        top: 45.5%;
    }

    100% {
        transform: rotate(0deg);
        left: 24%;
        top: 45.5%;
    }
}

@keyframes ham-menu-start-rotate-45-1{
    0% {
        transform: rotate(0deg);
        left: 25%;
        top: 46%;
    }

    100% {
        transform: rotate(45deg);
        left: 25%;
        top: 46%;
    }
}

@keyframes ham-menu-start-move-right{
    0% {
        left: 50%;
    }

    100% {
        left: 200%;
    }
}

@keyframes ham-menu-start-move-left{
    0% {
        left: 50%;
    }

    100% {
        left: -200%;
    }
}
@media screen and (min-width: 768px){

.mobile-menu-container {
    position: absolute;
    top: .7em;
    left: 125px;
    width: 400px;
    padding-right: .5em;
    display: initial;
    padding-bottom: 0;
}

.primary-navigation li:last-child  {
    display: none;
}
}